
label{
  display: block;
}

.app.dark{
  height: 100vh;
  display: flex;
  color: aliceblue;
  background-color: #282c34;
}

.app.light{
  height: 100vh;
  display: flex;
  color: #282c34;
  background-color: aliceblue;
}


